body {
    margin: 0;
    font-family: 'Jost', sans-serif;
}

.header-logo {
    margin: -75px -50px;
}

.container {
    margin: 0px;
}

.intro {
    max-height: 100vh;
    overflow: clip;
    z-index: -1;
}

.video {
    position: relative;
    padding-bottom: 56.25%;
    z-index: -1;
}
.video_media {
    position: absolute;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.Collection {
    padding: 15px 15px;
    border-radius: 15px;
    background-color: #4f0e85;
    margin: 50px 500px;
    font-size: 32px;
    color: #e4dcf1;
}

.collectoin1 {
    padding: 15px 15px;
    border-radius: 15px;
    background-color: #4f0e85;
    margin: 20px 610px;
    font-size: 32px;
    color: #e4dcf1;
    text-align: center;
    text-decoration: none;
}

.header-line {
    padding-top: 70px;
    display: flex;
    text-align: center;
}

.nav-item {
    color: #fff;
    text-decoration: none;
    font-weight: 00;
    font-size: 21px;
    margin-right: 45px;
    padding: 14px 15px;
    background-color: #36225a;
    border-radius: 20px;
}

.nav-item:hover {
    color: rgb(0, 0, 0);
    transition: color 0.2s linear;
}


.hader-title {
    color: #ede5fd;
    font-family: 'Jost', sans-serif;
    font-size: 45px;
    text-align: center;
    margin-top: 40px;
    padding: 14px 15px;
    border-radius: 15px;
    margin: 50px 220px;
    background-color: rgba(38, 27, 46, 0.5);
}


.header-collection {
    color: #9b84c0;
    text-decoration: none;
    font-size: 25px;
    padding: 5px 7px;
    background-color: rgb(25, 13, 36);
    border-radius: 15px;
    transition: 0.4s ease-in-out;
    text-align: center;
    margin: 20px 10px;
}

th {
    font-weight: normal;
    font-size: 40px;
    color: #ff7400;
    text-transform: uppercase;
    border-bottom: 1px solid white;
    padding: 30px;
    
}

td {
    color: #ff7400;
    padding: 20px 40px;
    vertical-align: middle;
    margin: 10px 20px;
}

.header-collection1 {
    color: #ff7400;
    text-decoration: none;
    font-weight: 00;
    font-size: 35px;
    margin-right: 20px;
}