body {
    width: 100%;
    max-width: 100%;
    margin: 0;
    font-family: 'Jost', sans-serif;
    overflow-x: hidden;
    background-image: url(../img/uuu.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header-logo {
    margin: -75px -50px;
}

html{
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}
.container {
    margin: 5px;
}

.header-line {
    padding-top: 70px;
    display: flex;
    text-align: center;
}

.nav-item {
    color: #fff;
    font-family: 'Jost', sans-serif;
    text-decoration: none;
    font-weight: 00;
    font-size: 20px;
    margin-right: 45px;
    padding: 14px 15px;
    background-color: rgba(97, 39, 138, 0.904);
    border-radius: 20px;
    text-align: center;
}

.nav-item:hover {
    color: rgb(0, 0, 0);
    transition: 0.2s ease-in-out;
}

.hader-title {
    color: #b876ff;
    font-family: 'IBM Plex Serif', sans-serif;
    font-size: 45px;
    text-align: center;
    margin-top: 40px;
    
}

.header-collection1 {
    color: #fff;
    text-decoration: none;
    font-family: 'Jost', sans-serif;
    font-size: 32px;
    
    padding: 5px 7px;
    background-color: rgba(94, 38, 133, 0.795);
    border-radius: 15px;
    transition: 0.4s ease-in-out;
    text-align: center;
}

.header-collection1:hover {
    color: rgb(34, 4, 59);
    background-color: #591abd;  
}

#item {
	width: 219px;
    border-radius: 3vh;
    margin: 1vh;
    transition: 0.2s ease-in-out;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#item img {
	width: 210px;
	height: 135px;
    background-color: #1f0831ec;
    border-radius: 3vh;
    margin: 0.5vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.skin_info {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    height: 100%;

}

.text {
    margin-left: 20vh;
    margin-top: 2vh;
    color: #ffffff;
    font-family: 'Jost', sans-serif;
    text-decoration: none;
    font-weight: 00;
    text-align: left;
    background-color: rgba(104, 32, 155, 0.856);
    border-radius: 1vh;

}


  @media (max-width: 1921px) {
    .header-line {
        display: flex;
        justify-content: center;
    }
    .collectoin1 {
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 1440px) {
    .header-line {
        display: flex;
        justify-content: center;
}
.nav-item {
    font-size: 22px;
}

.hader-title {
    margin: 50px 320px;
}
.header-collection {
    margin: 10px 10px;
    display: flex;
    justify-content: center;
}
}

@media (max-width: 1201px) {
 .nav-item {
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
 }
   
 .hader-title {
    margin: 50px 120px;
 }
} 

@media (max-width: 1199px) {
    .nav-item {
        margin: 0px 30px;
        font-size: 20px;
    }
    .hader-title {
       margin: 50px 190px;
    }
    .Collection {
        padding: auto;
    }
   } 

@media (max-width: 1024px) {

.nav-item {
    margin: 0px 30px;
    font-size: 20px;
}
.Collection {
    margin: 50px 250px;
}
.collectoin1 {
    margin: 20px 310px;
}
}

@media (max-width: 991px) {
    .nav-item {
        margin: 0px 30px;
        font-size: 20px;
    }
   
    .hader-title {
       margin: 50px 190px;
    }
}

@media (max-width: 768px) {
.hader-title {
    font-size: 20px;
    padding: 4px 40px;
    margin: 50px 110px;
}

.Collection {
    margin: 20px 250px;
}
.header-collection {
    display: flex;
    justify-content: center;
}
.hader-title {
    font-size: 20px;
    padding: 4px 40px;
    margin: 50px 110px;
}
.nav-item {
    font-size: 15px;
    margin: 10px 20px;
}
}

    @media (max-width: 662px) {
        .Collection {
            margin: 0px 200px;
        }

        .header-collection {
            font-size: 10px;
        }
    }


@media (max-width: 575px) {
    .nav-item {
        margin: 10px 20px 5px 20px;
        font-size: 13px;
        background-color: rgba(97, 39, 138, 0.959);
        color: #ffffff;
    }

    .accordion {
        margin: 10px 10px;
    }
    .layout {
        width: auto;
        margin: auto;
    }

    .html,body {
        margin: 0;
        font-family: 'Jost', sans-serif;
        overflow-x: hidden;
        background-image: url(../img/mob.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

@media (max-width: 425px) {
    .Collection{
        margin: 20px 100px;
        font-size: 25px;
    }
.collectoin1 {
    margin: 20px 100px;
}
.header-line {
    padding: 10px 0px;
    margin: 10px 20px;
}
#item img {
    width: 80px;
    height: 50px;
}
#item {
    width: 80px;
    display: inline-block;
}
.nav-item{
    margin: 10px -10px;
    font-size: 13px;
}

.text {
    margin-left: 2vh;
}
}

@media (max-width: 400px) {
    .hader-title {
        margin: 30px;
    }
}

@media (max-width: 320px) {

.header-line {
    padding: 30px 0px;
}
.Collection {
    margin: 0px 50px;
}
}
@media (max-width: 320px) {
    .hader-title {
    margin: 15px;
    font-size: 17px;
}

.header-line {
    padding: 20px 10px;
}
.Collection {
    margin: 0px 50px;
}

.text {
    margin-left: 0.1vh;
    font-size: 0.7rem;
}
}