body {
    margin: 0;
    font-family: 'Jost', sans-serif;
    background-image: url(../img/pc.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header-logo {
    margin: -75px -50px;
}

.container {
    margin: 0px;
}

.header-line {
    padding-top: 70px;
    display: flex;
    text-align: center;
}

.nav-item {
    color: #fff;
    font-family: 'Jost', sans-serif;
    text-decoration: none;
    font-weight: 00;
    font-size: 20px;
    margin-right: 45px;
    padding: 14px 15px;
    background-color: rgba(97, 39, 138, 0.904);
    border-radius: 20px;
    text-align: center;
}

.nav-item:hover {
    color: rgb(0, 0, 0);
    transition: 0.2s ease-in-out;
}

.nav {
    color: #fff;
    font-family: 'Jost', sans-serif;
    text-decoration: none;
    font-weight: 00;
    font-size: 20px;
    margin: 50px 450px;
    padding: 14px 15px;
    background-color: #36225a;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.hader-title {
    color: #fcfaff;
    font-family: 'Jost', sans-serif;
    font-size: 4vh;
    font-weight: 00;
    text-align: center;
    margin-top: 100px;
    padding: 14px 15px;
    margin: 50px 220px;
    border-radius: 20px;
    background-color: rgba(38, 27, 46, 0.8);
}

.haeder-suptitle {
    color: #DEB887;
    font-size: 35px;
    font-family: 'Jost', sans-serif;
    text-align: center;
    margin-top: 20px;
    /* padding: 14px 15px;
    background-color: #000000; */
}


.haeder-button {
    background-color: #ff7400;
    padding: 14px 28px;
    color: aliceblue;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Jost', sans-serif;
    text-decoration: none;
    text-align: center;
}

.haeder-button:hover {
    color: black;
    transition: color 0.2s linear;
}

.layout {
    width: 600px;
    margin: auto;
}

/* .FAQ {
    padding: 5vh 5vh;
    border-radius: 4vh;
    background-color: #4f0e85;
    margin: 50px 600px;
} */

.accordion {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: rgba(28, 15, 37, 0.925);
    border-radius: 10px;
}

.accordion__question p {
    margin: 5px;
    padding: 0;
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    color: #f8f2f2;
    text-align: center;
}

.accordion__answer p {
    margin: 5px;
    padding: 10px;
    font-size: large;
    font-family: 'Jost', sans-serif;
    color: rgb(18, 8, 27);
    background: #FFFFE0;
    border-radius: 10px;
    text-align: center;
}

.accordion:hover {
    cursor: pointer;
}

.accordion__answer {
    display: none;
}

.accordion.active .accordion__answer {
    display: block;
}

.blag {
    margin: 70px 300px;
    color: #e8e1ee;
    font-family: 'Jost', sans-serif;
    text-decoration: none;
    font-weight: 00;
    font-size: 20px;
    padding: 10px 10px;
    border-radius: 20px;
    background-color: #36225a;
    text-align: center;
}


.m {
    text-decoration: none;
    color: red;
}
.n {
    text-decoration: none;
    color: blue;
}

/* Адаптация */

@media (max-width: 1921px) {
    .header-line {
        display: flex;
        justify-content: center;
    }


    .header-collection {
        margin: 10px 10px;
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 1440px) {
    .header-line {
        display: flex;
        justify-content: center;
    }


    .hader-title {
        margin: 50px 320px;
    }

}

@media (max-width: 1201px) {
    .nav-item {
        font-size: 20px;
        text-align: center;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }

    .hader-title {
        margin: 50px 120px;
    }
}

@media (max-width: 1199px) {
    .nav-item {
        margin: 0px 30px;
        font-size: 20px;
    }

    .hader-title {
        margin: 50px 190px;
    }
}

@media (max-width: 1024px) {
    .nav-item1 {
        padding: 14px 15px;
        margin: 10px 350px;
        font-size: 20px;
    }

    .nav-item {
        margin: 0px 30px;
        font-size: 20px;
    }

    .nav {
        margin: 50px 299px;
    }
    .blag {
        margin: 50px 200px; ;
    }
}

@media (max-width: 991px) {
    .nav-item {
        margin: 0px 30px;
        font-size: 20px;
    }
    .hader-title {
        margin: 50px 190px;
    }
}

@media (max-width: 768px) {
    .hader-title {
        font-size: 20px;
        padding: 4px 40px;
        margin: 50px 110px;
    }

    .nav-item {
        font-size: 15px;
        margin: 10px 20px;
    }
    .blag {
        margin: 50px 100px; ;
    }
}

@media (max-width: 767px) {
    .hader-title {
        font-size: 20px;
        padding: 4px 40px;
        margin: 50px 110px;
    }


    .nav-item {
        margin: 10px 0px;
    }

    .nav {
        margin: 50px 199px;
    }
}

@media (max-width: 575px) {
    .nav-item {
        margin: 10px 20px 5px 20px;
        font-size: 13px;
        background-color: rgba(97, 39, 138, 0.959);
        color: #ffffff;
    }

    .accordion {
        margin: 10px 10px;
    }

    .layout {
        width: auto;
        margin: auto;
    }

    .nav {
        margin: 50px 100px;
    }

    .html,
    body {
        overflow-x: hidden;
        background-image: url(../img/kkk.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .blag {
        margin: 50px 100px; ;
    }
}

@media (max-width: 474px) {
    .hader-title {
        margin: 30px;
    }

    .header-line {
        padding: 30px 0px;
    }

    .nav {
        margin: 50px 60px;
    }
    .blag {
        margin: 50px 30px;
        font-size: 16px;
    }
}